<!DOCTYPE html>
<html> 
<head> 
    <title>Hours in Silence</title>
    <style>
        p {
            margin: 0; 
        }
    </style>
</head>
<body>
    <h1>Hours in Silence</h1>
    <h2>Leave your phone... Come to mine</h2>
    <h2>The cash in hand... In due time</h2>
    <h2>I think, think that I... </h2>
    <h2><i>Could fuck the idea of him out of your mind</i></h2>
    <p># of times I went Condo & 'Lenci in the first week: {{ page_visit_count }}</p>
    <p># of times you were lost (until me): {{ total_visit_count }}</p>
    <p>Loading good conversation and some rosé wine: %{{ percent }}</p>
    {% block content %}
    {% endblock content %}
</body>
</html>